* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: white;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.left,
.right {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  max-width: 70%;
  max-height: 100%;
}

video {
  max-width: 80%;
  max-height: 80%;
}

.right {
  flex-direction: row;
  gap: 20px;
}

button {
  width: 20%;
  height: 20%;
  min-width: 120px;
  min-height: 60px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
